@import '_var';
@import '_reset';

body{
    margin:2em;
    padding:0;
    background: #eee;

    h1{
        font-size:18px;
    }

    ul{
        display:flex;
        justify-content:center;
        list-style-type:none;

        li{
            color:$hoofdkleur;
        }
    }
}